<header>
  <nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">
      <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      Blockchain Demonstration
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar-menu">
      <!--<ul class="navbar-nav mx-auto w-100 justify-content-center">-->
        <!--<li class="nav-item active">-->
          <!--<a class="nav-link" href="#">Link</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="//codeply.com">Codeply</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Link</a>-->
        <!--</li>-->
      <!--</ul>-->
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end" *ngIf="auth.isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" href="#">Logged in as: {{auth.getUsername()}}</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main role="main" style="padding: 60px 15px 0;">
  <router-outlet></router-outlet>
</main>

