<header>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
      <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      Blockchain Demonstration
    </a>
  </nav>
</header>
<main role="main" class="container" style="padding: 60px 15px 0;">
  <div class="row">
    <div class="col-md-4">
      <app-block [index]="1"></app-block>
    </div>
    <div class="col-md-4">
      <app-block [index]="2"></app-block>
    </div>
    <div class="col-md-4">
      <app-block [index]="3"></app-block>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">
      <app-block [index]="4"></app-block>
    </div>
    <div class="col-md-4">
      <app-block [index]="5"></app-block>
    </div>
    <div class="col-md-4">
      <app-block [index]="6"></app-block>
    </div>
  </div>
</main>

