<div class="card" [ngClass]="{'border-success': isValid(), 'border-danger': !isValid()}">
  <div class="card-header">
    Block #{{index}}
  </div>
  <div class="card-body">

    <form>
      <div class="form-group row">
        <label for="block-nonce" class="col-sm-2 col-form-label">Nonce</label>
        <div class="col-sm-10">
          <input [(ngModel)]="nonce" (ngModelChange)="rehash()" name="nonce" type="text" digitsOnly
                 class="form-control"
                 id="block-nonce"
                 placeholder="A number to make hash value start with '0000'">
        </div>
      </div>
      <div class="form-group row">
        <label for="block-data" class="col-sm-2 col-form-label">Data</label>
        <div class="col-sm-10">
          <input [(ngModel)]="data" (ngModelChange)="rehash()" name="data" type="text" class="form-control"
                 id="block-data" placeholder="Enter some arbitrary data">
        </div>
      </div>
      <div class="form-group row">
        <label for="block-hash" class="col-sm-2 col-form-label">Hash</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="block-hash" value="{{hash}}">
        </div>
      </div>
    </form>
    <div>
      <button type="button" class="btn btn-primary" (click)="mine()" [disabled]="isValid()" *ngIf="!isMining">
        {{isMining ? 'Mining...' : 'Mine'}}
      </button>
      <div class="progress" *ngIf="isMining">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
             aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>

  </div>
</div>
