<div class="card" [ngClass]="{'border-success': isValid(), 'border-danger': !isValid()}">
  <div class="card-header">
    Block #{{index}}
  </div>
  <div class="card-body">

    <form>
      <div class="form-group row">
        <label for="block-nonce" class="col-sm-3 col-form-label">Nonce</label>
        <div class="col-sm-9">
          <input [(ngModel)]="nonce" (ngModelChange)="rehash()" name="nonce" type="text" digitsOnly
                 class="form-control"
                 id="block-nonce"
                 placeholder="A number to make hash value start with '0000'">
        </div>
      </div>
      <div class="form-group row">
        <label for="block-data" class="col-sm-3 col-form-label">Data</label>
        <div class="col-sm-9">
          <input [(ngModel)]="data" (ngModelChange)="rehash()" name="data" type="text" class="form-control"
                 id="block-data" placeholder="Enter some arbitrary data">
        </div>
      </div>
      <div class="form-group row">
        <label for="block-hash" class="col-sm-3 col-form-label">Hash</label>
        <div class="col-sm-9">
          <input type="text" disabled class="form-control" id="block-hash" value="{{hash}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="block-prev-hash" class="col-sm-3 col-form-label text-nowrap">Previous</label>
        <div class="col-sm-9">
          <input type="text" disabled class="form-control" id="block-prev-hash" value="{{previousHash}}">
        </div>
      </div>
    </form>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-primary" (click)="mine()" [disabled]="isValid()">
        <i class="fa fa-cog fa-spin" *ngIf="isMining"></i>
        {{isMining ? 'Mining...' : 'Mine'}}
      </button>
    </div>

  </div>
</div>
